/* #3b78e7, #4dd0e1, #f06292, #d81b60, #9c27b0, #ce93d8, #0d904f, #9ccc65 */

@font-face {
    font-family: 'reeyregular';
    src: url('../fonts/reey-regular-webfont.woff2') format('woff2'), url('../fonts/reey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'), url('../fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 1.5rem;
    color: white;
    /* font-family: monospace; */
    font-family: 'kaushan_scriptregular';
    font-weight: bold;
}

body {
    background-image: linear-gradient(40deg, #ff8a00, #e52e71);
    border: 20px double darkslateblue;
}

h1, h2, #new-game-confirmation {
    text-align: center;
}

button {
    background-image: linear-gradient(45deg, indigo, #e52e71);
    color: white;
    padding: 0 1rem;
    height: 2rem;
    font-size: 1rem;
    font-family: inherit;
}

button:disabled {
    opacity: 0.25;
}

#new-game-confirmation {
    display: none;
    margin: 1rem auto;
}

table {
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: black;
    border: 3px solid midnightblue;
}

table tr:nth-child(2n) {
    background-image: linear-gradient(45deg, steelblue, indigo);
}

table tr:nth-child(2n+1) {
    background-image: linear-gradient(45deg, lightblue, steelblue);
}

.table-head th {
    background-color: darkslateblue;
    font-size: 2rem;
}

td, th {
    height: 4rem;
    width: 13vw;
    text-align: center;
}

tfoot tr:nth-child(1) {
    height: 13vw;
}

tfoot button {
    width: 100%;
    height: 100%;
}

.score, tfoot {
    font-size: 1.5rem;
}

#bonus {
    font-size: 1.2rem;
}

#bonus.confirmed {
    color: midnightblue;
    background-image: linear-gradient(45deg, red, orange);
}

.score:not(#bonus):not(.confirmed):not(.selected) {
    opacity: 0.4;
}

.die {
    background-image: linear-gradient(45deg, darkslateblue, #e52e71);
}

.die img {
    display: block;
    margin: auto;
    height: 11vw;
}

.selected {
    background-image: linear-gradient(90deg, darkcyan, cyan);
}

.confirmed:not(#bonus) {
    background-image: linear-gradient(45deg, tomato, navy);
}
